.body {
    padding: 0;
    margin: 0;
}

.wrapper {}

.header {}

.container_header {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ===============================menu=========================== */

.menu {
    background: #141414;
    padding: 20px 20px 20px 20px;
    transition: all 0.5s;
}

.logo {
    position: relative;
}

.logo_header {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.logo_header::after {
    content: url('Vector (25).png');
    position: relative;
    bottom: 22px;
    right: 14px;
}

._3cute_logo-header {
    width: 100%;
    max-width: 34px;
    position: absolute;
    top: -5px;
    left: 100%;
}

.list {
    max-width: 500px;
}

.ul_header {
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-width: 500px;

    display: flex;
    flex-wrap: wrap;
}

.li_header {
    max-width: 200px;
    padding: 0px 13px 0px 15px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.sylka_li-header {
    text-decoration: none;
    color: #FFFFFF;
}


.buttons_entrance {}

.entrance {
    background: #FF66004D;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 10px 30px 10px 30px;
    border: 1.5px solid #FF6600;
    box-shadow: 0px 0px 50px rgba(255, 102, 0, 0.3);
    transition: all 0.5s;
}

.entrance:hover {
    box-shadow: 0px 0px 40px rgba(255, 102, 0, 0.521);
    background: #ff660072;
    transition: all 0.5s;
}

.sylka_entrance {
    text-decoration: none;
    color: #FFFFFF;
}


.button_translated {
    border: 0px;
    background: none;
}

.sylka_translated {
    color: #FFFFFF;
    font-family: 'Montserrat';
    padding: 0px 10px 0px 20px;
}

.ins_sylka_translated {}

/* ====================burger========================= */

.burger {
    width: 25px;
    height: 50px;
    position: relative;
    z-index: 20;
    overflow: hidden;

    display: none;
}

.span_burger {
    width: 25px;
    height: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}

.span_burger:nth-last-of-type(2) {
    top: calc(50% - 8px);
    transition: all 0.5s;
}

.span_burger:nth-last-of-type(3) {
    top: calc(50% + 8px);
    transition: all 0.5s;
}

.span_burger:nth-last-of-type(1) {
    width: 25px;
    transition: all 0.5s;
}

.burger_active .span_burger:nth-last-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
    transition: all 0.5s;
}

.burger_active .span_burger:nth-last-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
    transition: all 0.5s;
}

.burger_active .span_burger:nth-last-of-type(1) {
    width: 0px;
    transition: all 0.5s;
}

.body_active {
    overflow: hidden;
}

/* ==================================burger menu================================== */

/* ===============Global Media=============== */

@media (max-width: 767px) {
    .list {
        display: none;
    }

    .buttons_entrance {
        display: none;
    }

    .menu {
        padding: 35px 15px 10px 15px;
        height: 50px;
    }

    .burger {
        display: block;
    }
}



/* ================================================================= */