.body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    background: #000000;
}

.wrapper {}

.header {
    padding: 5px;
}

.header__menu {
    padding: 20px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 1340px;
    margin: 0px auto;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__picture-logo {}

.header__logo-img {
    width: 100%;
    max-width: 45.12px;
}

.header__logo-text {
    color: #FFFFFF;
    font-size: 37px;
    padding-left: 10px;
    font-weight: 800;
    max-width: 134px;
}

.header__list {}

.header__ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
}

.header__li {
    color: #707070;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    max-width: 160px;
    position: relative;
}

.header__li-text {}

.header__picture-li {}

.header__li-img {
    width: 100%;
    max-width: 10.71px;
    padding-bottom: 2px;
}

.header__sub-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 30px;
    left: 0;

    color: rgb(255, 255, 255);
    padding: 15px 0px 0px 10px;
    display: none;
}

.header__sub-li {
    max-width: 100px;
}

.header__sub-ul_container {
    padding-top: 200px;
    padding: 0px 60px 0px 10px;
    background: #121212;
    position: relative;
    z-index: 2;
    opacity: 0.9;
}

.header__ul>li:hover .header__sub-ul {
    display: block;
}

.header__li-active {
    color: #3C82F4;
}

.header__type-button {}

.header__buttons {
    display: flex;
}

.header__button-login {
    color: #707070;
    font-size: 20px;
    min-height: 30px;
    max-width: 60px;
    background: none;
    border: 0px;
    padding-right: 58px;
}


.header__button-sign_up {
    color: #FFFFFF;
    font-size: 20px;
    background: #306EF7;
    border-radius: 5px;
    min-height: 55px;
    max-width: 119px;
    border: 0px;
    padding: 0px 20px 0px 20px;
}


.header__burger {
    width: 35px;
    height: 50px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    display: none;
}

.header__burger .header__span-burger {
    width: 35px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
}

.header__burger .header__span-burger:nth-of-type(2) {
    top: calc(50% - 8px);
}

.header__burger .header__span-burger:nth-of-type(3) {
    top: calc(50% + 8px);
}

.header__burger-container {
    padding: 0px 0px 0px 15px;
}

.header__button-login_copy {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
}

@media (max-width: 526px) {
    .header__button-login {
        display: none;
    }

    .header__button-sign_up {
        color: #FFFFFF;
        font-size: 15px;
        background: #306EF7;
        border-radius: 5px;
        min-height: 35px;
        border: 0px;
    }

    .header__logo-img {
        width: 100%;
        max-width: 25px;
    }

    .header__logo-text {
        font-size: 20px;
    }

    .header__burger {
        height: 35px;
    }
}

@media (max-width: 894px) {
    .header__list {
        position: absolute;
        top: 0;
        left: 0;
        background: #000000;
        width: 100%;
        min-height: 100%;

        transform: translateY(-100%);
        transition: all 0.5s;
    }

    .header__button-login {
        display: none;
    }

    .header__button-login_copy {
        display: block;
        color: #FFFFFF;
        font-size: 20px;
        border-radius: 5px;
        border: 0px;
        font-weight: 800;

        margin-top: 20px;
    }

    .header__ul {
        display: flex;
        flex-direction: column;
        padding: 110px 0px 0px 10px;
    }

    .header__li {
        font-weight: 800;
        color: rgb(246, 246, 246);
        font-size: 30px;
        max-width: 500px;
        padding-top: 5px;
    }

    .header__li-img {
        width: 100%;
        max-width: 15px;
        padding-bottom: 4px;
    }

    .header__logo {
        z-index: 2;
    }

    .header__buttons {
        z-index: 2;
    }

    .header__burger {
        display: block;
    }

    .header__container {
        display: flex;
        flex-wrap: nowrap;
    }
}

.header__burger_active .header__span-burger:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.header__burger_active .header__span-burger:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.header__burger_active .header__span-burger:nth-of-type(1) {
    width: 0px;
}

.header__list_active {
    transform: translateY(-0%);
    transition: 0.5s;
}

.header__li:hover {
    color: #306EF7;
    transition: all 0.3s;
}

.header__li {
    transition: all 0.3s;
}

.header__sub-li:hover {
    color: #306EF7;
}

.main__body {}

.main__container {}

.main__content {}

.content {
    text-align: center;
    padding: 10px;
}

.content__title {
    color: #FFFFFF;
    font-size: 90px;
    font-weight: 800;

    max-width: 1340px;
    margin: 0px auto;
    margin-top: 20px;
}

.main__title-span {
    background-image: linear-gradient(90deg, #FE6783, #FFBF84);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content__subtitle {
    max-width: 694px;
    margin: 0px auto;
    margin-top: 50px;
}

.content__subtitle_title {
    color: #FFFFFF;
    font-size: 40px;

}

.content__buttons {
    margin-top: 30px;
}

.content__button-get {
    color: #FFFFFF;
    background: #326CF9;
    border: 0px;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    font-size: 20px;
    margin-right: 7px;
}

.content__button-demo {
    color: #707070;
    background: #000000;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    font-size: 20px;
    margin-left: 7px;
}

.content__subtitle_buttons {
    margin-top: 20px;
}

.content__subtitle_buttons-txt {
    color: #707070;
    font-size: 25px;
}

.content__subtitle_buttons-span {
    color: #fff;
    font-size: 25px;
}

.content__picture {}

.content__icon {
    width: 100%;
    max-width: 28.6px;
}

@media (max-width: 1013px) {
    .content__title {
        font-size: 50px;
    }
}

@media (max-width: 681px) {
    .content__title {
        font-size: 40px;
        margin-top: 30px;
    }

    .content__subtitle_title {
        font-size: 20px;
    }

    .content__subtitle {
        margin-top: 20px;
    }
}

@media (max-width: 546px) {
    .content__button-get {
        padding: 10px 20px 10px 20px;
        font-size: 15px;
    }

    .content__button-demo {
        padding: 10px 19px 10px 18px;
        font-size: 15px;
    }

    .content__title {
        font-size: 25px;
        margin-top: 30px;
    }

    .content__subtitle_title {
        font-size: 15px;
    }

    .content__subtitle_buttons-txt {
        font-size: 15px;
    }

    .content__subtitle_buttons-span {
        font-size: 15px;
    }

    .content__icon {
        width: 100%;
        max-width: 18px;
    }
}

.body_active {
    overflow: hidden;
}

.main__title-container {
    padding: 10px;
    max-width: 1340px;
    margin: 0px auto;
    margin-top: 70px;
}

.main__title {
    color: #ffffff;
    text-align: center;
    font-size: 55px;
    max-width: 995px;
    margin: 0px auto;
}

.main__txt-block_container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 30px;
}

.main__txt-block {
    text-align: center;
    padding: 10px;
}

.main__txt-block_title {
    color: #FFFFFF;
    font-size: 25px;
    max-width: 300px;
}

.main__txt-block_subtitle {
    color: #707070;
    font-size: 13px;
    max-width: 550px;
}

.main__title-step1 {
    display: flex;
    justify-content: center;
}

.main__step1 {
    color: #3D82F2;
    text-align: center;
    max-width: 74px;
    margin: 0px auto;
}
.main__subtitle {
    color: #707070;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}
.main__buttons {
    text-align: center;
}

.main__button-view {
    margin-top: 20px;
}


@media (max-width: 449px) {
    .main__txt-block_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .main__title {
        font-size: 35px;
    }

    .main__title-container {
        margin-top: 20px;
        padding: 10px;
    }
}