.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    padding: 0;
    margin: 0;
}


.wrapper {}

.header {}

.header__menu {
    background: #141414;
    padding: 25px 15px 25px 15px;
    opacity: 90%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1210px;
    margin: 0px auto;
}

.header__logo {
    color: white;
}

.header__logo-text {
    font-size: 24px;
    max-width: 250px;
}

.header__logo-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 25px solid #FF6600;

    translate: -12px -3px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 911px;
}

.header__list {}

.header__ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.header__li {
    padding: 0px 15px 0px 15px;
    max-width: 90px;
}

.header__li-href {
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.3s;
}

.header__li-href:hover {
    color: #FF6600;
    transition: all 0.3s;
}

.header__li-href:active {
    color: #00ffc8;
    transition: all 0.3s;
}

.header__buttons {}

.header__button-request {
    font-size: 14px;
    width: 120px;
    min-height: 40px;
    background: #FF66004D;
    border: 1.5px solid #FF6600;
    box-shadow: 0px 0px 50px rgba(255, 102, 0, 0.3);
    transition: all 0.3s;
}

.header__button-request:hover {}

.header__button-request_href {
    color: #FFFFFF;
    text-decoration: none;
}

.header__button-language {
    border: 0px;
    background: none;
    padding-left: 15px;
}

.header__button-language-href {
    font-size: 14px;
    color: #FFFFFF;
    transition: all 0.3s;
}


.header__button-language-href:hover {
    font-size: 14px;
    color: #FF6600;
    transition: all 0.3s;
}

.header__burger {
    width: 30px;
    min-height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    display: none;
}

.header__burger .header__span-burger {
    width: 30px;
    min-height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
}

.header__burger .header__span-burger:nth-of-type(2) {
    top: calc(50% - 8px);
}

.header__burger .header__span-burger:nth-of-type(3) {
    top: calc(50% + 8px);
}

.header__burger_active .header__span-burger:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.header__burger_active .header__span-burger:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.header__burger_active .header__span-burger:nth-of-type(1) {
    width: 0px;
}


@media (max-width: 1050px) {
    .header__body {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: #141414;
        width: 100%;
        max-width: 100%;
        min-height: 100%;

        transform: translateY(-100%);
        transition: all 0.5s;
    }

    .header__ul {
        display: block;
        padding-top: 90px;
        padding-left: 30px;
    }

    .header__li {
        padding: 10px 0px 10px 0px;
        font-size: 20px;
    }

    .header__button-language {
        padding-left: 0px;
        padding-top: 20px;
    }

    .header__button-language-href {
        font-size: 20px;
    }

    .header__buttons {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 25px;
        padding-left: 30px;
    }

    .header__logo {
        position: relative;
        z-index: 2;
    }

    .header__burger {
        display: block;
    }

    .header__menu {
        background: #141414;
        padding: 36px 20px 15px 20px;
        opacity: 90%;
    }
}

.header__body_active {
    transform: translateY(-0%);
    transition: all 0.5s;
}

.main {}

.main__body {}

.main__conntent {}

.content {}

.content__background {
    background: url('image/bg (1).png') center no-repeat;
    height: 600px;
    background-size: cover;
}